{% extends "template.html" %}
{% block conteudo %}
    <form method="POST" action="{{ url_for('autenticar') }}" style="margin-bottom: 15rem !important;">
        <input type="hidden" name="proxima" value="{{ proxima or url_for('index') }}">
        <div class="mb-3">
            <label style="color: #d1cfbf;">Nome de usuário:</label>
            <input class="form-control" type="text" name="usuario" required>
        </div>
        <div class="mb-3">
            <label style="color: #d1cfbf;">Senha:</label>
            <input class="form-control" type="password" name="senha" required>
        </div>
        <div style="display: flex; align-items: center;">
            <button class="btn btn-primary" type="submit" style="margin-top: 1rem;">Entrar ></button>
            <p style="display: flex;padding-left: 1rem; padding-top: 2rem; color: #fff;">Novo no InCine?<a href="{{ url_for('signup') }}" style="padding-left: 0.5rem; text-decoration: none;color: red;">Cadastre-se</a></p>
        </div>
    </form>
{% endblock %}