{% extends "template.html" %}
{% block conteudo %}
<section class="page-section bg-light" id="team" style="margin-bottom: 9rem !important;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase" style="color: #d1cfbf;">programadores envolvidos</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="../static/img/team_luiz.jpg" alt="..." style="background-color: #fff;"/>
                    <h4>Luiz Fernando</h4>
                    <p class="text-muted">Full-Stack</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/luizfernando100_/" aria-label="Diana Petersen Twitter Profile" style="background-color: red;"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="../static/img/team1.png" alt="..." style="background-color: #fff;"/>
                    <h4>Virgínia Maria</h4>
                    <p class="text-muted">Full-Stack</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/virginia_dourado/" aria-label="Diana Petersen Twitter Profile" style="background-color: red;"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="../static/img/team_rosa.jpg" alt="..." style="background-color: #fff;"/>
                    <h4>Rosaliny Caldeira</h4>
                    <p class="text-muted">Full-Stack</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/rosalinycaldeira/" aria-label="Diana Petersen Twitter Profile" style="background-color: red;"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="../static/img/team_eloisa.jpg" alt="..." style="background-color: #fff;"/>
                    <h4>Maria Eloisa</h4>
                    <p class="text-muted">Full-Stack</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/maria_eloisavf/" aria-label="Diana Petersen Twitter Profile" style="background-color: red;"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}