{% extends "template.html" %}
{% block conteudo %}
<section class="page-section bg-light" id="team" style="margin-bottom: 9rem !important;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">programadores envolvidos</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="../static/img/team1.png" alt="..." style="background-color: #fff;"/>
                    <h4>Luiz Fernando</h4>
                    <p class="text-muted">Full-Stack</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="../static/img/team1.png" alt="..." style="background-color: #fff;"/>
                    <h4>Luiz Fernando</h4>
                    <p class="text-muted">Full-Stack</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="../static/img/team1.png" alt="..." style="background-color: #fff;"/>
                    <h4>Luiz Fernando</h4>
                    <p class="text-muted">Full-Stack</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="../static/img/team1.png" alt="..." style="background-color: #fff;"/>
                    <h4>Luiz Fernando</h4>
                    <p class="text-muted">Full-Stack</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}